#nav-con{
    background-color: rgb(102,85,75);
}

#container1{
    width:80%; 
    height:350px;
}

#pic_container{
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
    background-repeat:no-repeat;
    background-position:center -200px;
    background-size: cover;
}

#container2{
    width:80%; 
    height:1000px;
}


#aut{
    position: relative;
    top:80px;
    left:10%;
    right:10%;
}

#par{
    font-size: 36px;

}

h1.increase{
    font-size: 60px;
    font-weight: bold;
}

nav{
    background-color: rgb(102,85,75);
    height: 100px;
}

#nav-name{
    color: white;
    font-size: 48px;
}

.navbar {
    position: relative;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -120px !important;  /* 50% of your logo width */
    display: block;
}