#nav-con{
    background-color: rgb(102,85,75);
}


#nav-con2{
}


#container1{
    width:80%; 
    height:6000px;
}

#aut{
    position: relative;
    top:80px;
    left:10%;
    right:10%;
}

#par{
    font-size: 36px;

}

h1.increase{
    font-size: 60px;
    font-weight: bold;
}

nav{
    background-color: rgb(102,85,75);
    height: 100px;
}

#nav-name{
    color: white;
    font-size: 40px;
}